/* PAGE LAYOUT */

.vis-container {
    /*display: flex;*/
    /*flex-direction: column;*/
    align-items: center;
    width: 100%;
    /*height: 432px; !* match concepts-row height *!*/
    overflow: visible; /* hide outer vertical scrollbar */
}

.row-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    overflow: hidden;
    /*margin-bottom: 5px;*/
}

.col-container {
    flex: 1;
    margin: 5px;
    border: 1px solid black;
    width: 100%;
}

/* BAR CHART */

/* overall barchart size */
.barchart{
    font-family: sans-serif;
    font-size: 12px;
    width: 100%;  /* allows resize to fit the page*/
    height: auto;
}

/* BAR CHART STYLES */

/* bars */
.bar1 {
    fill: steelblue;
}
.bar2 {
    fill: orange;
}
/* axis labels */
.axis-label {
    font-family: sans-serif;
    font-size: 14px;
}
/* lines and tick marks */
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
/* axis text */
.axis text {
    font-family: sans-serif;
    font-size: 14px;
}

/* CONCEPTS TABLE */

.concepts-row {
    width: 100%;
    height: 100%; /* fill vis-container height */
}

.div-concepts-table-body {
    margin-top: 0;
    overflow-y: auto;
    overflow-x: auto;
    background-color: #f9f9f9;
}

.table-body-wrapper {
    overflow: auto;
    max-height: 370px; /* header height removed */
}

.full-width {
    width: 100%;
}