/* PAGE LAYOUT */

* {
    box-sizing: border-box;
}

.vis-container {
    align-items: center;
    width: 100%;
    overflow: visible; /* hide outer vertical scrollbar */
}

.row-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.col-container {
    flex: 1;
    margin: 5px;
    border: 1px solid black;
    width: 100%;
}

/* TOOLTIP */
.tooltip {
    position: absolute;
    visibility: hidden;
    background: #eee;
    color: black;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid darkgray;
    /*background-image: linear-gradient(to right, lightgray, white);*/
    pointer-events: none;
    z-index: 1000;
}

/* COHORT SUMMARY */

.cohort-summary{
    gap: 32px; /* space between columns */
    padding: 15px;
    background-image: linear-gradient(to right, lightgray, darkgray);
    overflow: auto;
}

/* BAR CHART */

/* overall barchart size */
.barchart{
    font-family: sans-serif;
    font-size: 12px;
    width: 100%;  /* allows resize to fit the page*/
    height: auto;
}

/* BAR CHART STYLES */

/* axis labels */
.axis-label {
    font-family: sans-serif;
    font-size: 14px;
}
/* lines and tick marks */
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
/* axis text */
.axis text {
    font-family: sans-serif;
    font-size: 14px;
}

/* CONCEPTS TABLE */

.concepts-row {
    width: 100%;
    height: 100%; /* fill vis-container height */
}

.div-concepts-table-body {
    margin-top: 0;
    overflow-y: auto;
    overflow-x: auto;
    background-color: #f9f9f9;
}

.table-body-wrapper {
    overflow: auto;
    max-height: 370px; /* header height removed */
}

/* Container */
.switch {
    position: relative;
    display: inline-block;
    width: 32px;   /* same width */
    height: 18px;  /* half the original height */
}

/* Hide the default checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider track */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    transition: .4s;
    border-radius: 18px; /* round corners = height */
}

/* Circle knob */
.slider:before {
    position: absolute;
    content: ;
    height: 14px;     /* knob slightly smaller than track */
    width: 14px;
    left: 1px;
    bottom: 1px;
    background-color: lightgray;
    transition: .4s;
    border-radius: 50%;
}

/* Checked state */
input:checked + .slider {
    background-color: lightgreen;
}

input:checked + .slider:before {
    transform: translateX(18px);
}
